@media (max-width:1200px) {
    section {
        width: 100%;
        .firstdiv {
            img {
                position: initial;
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            h2 {
                top: 30%;
                font-size: 25px;
            }
            .but2 {
                top: 45%;
                right:55%;
                padding-top: 7px;
            }
            .div2 {
                top: 46%;
                left: 48%;
            }
            .div3 {
                top: 63%;
                p {
                    font-size: 11px;
                    width: 170px;
                    margin-left: 30px;
                    margin-right: 0px;
                }
                img {
                    width: 20px;
                }
            }
        }
    }
    .sec2 {
        .secondarydiv {
            .secdiv {
                margin-left: 70px;
            }
            .mindiv {
                flex-wrap: wrap;
                .idkdiv1 {
                    margin-left: 0px;
                    h2 {
                       font-size: 21px;
                       padding-left: 40px;
                    }
                    p {
                        width: 300px;
                        padding-left: 40px;
                        margin-bottom: 30px;
                    }
                }
                .chimp1 {
                    margin-left: 40px;
                    img {
                        width: 300px;
                        height:400px;
                    }
                }
            }
            .butt1 {
                margin-left: 0px;
                button {
                    margin-left: 40px;
                }
            }
            .areadiv {
                h2 {
                    margin-left: 40px;
                }

            }
        }
    }
    .sec3 {
        width: 100%;
        .thirddiv {
            .divv1 {
                margin-left: 40px;
            }
            .opendiv {
                margin-left: 0px;
                h2 {
                    font-size: 24px;
                    width: 450px;
                    margin-left: 15px;
                }
                p {
                    width: 350px;
                    margin-left: 10px;
                }
                .merdiv {
                    flex-wrap: wrap;
                    .img-1{
                        width: 300px;
                        height:400px;
                    }
                    .itsdiv {
                        margin-left: 0px;
                        .mtadiv {
                            p {
                                width: 300px;
                            }
                            .mindiv1 {
                                margin-left: 20px;
                                img {
                                    width: 21px;
                                    height: 21px;
                                }
                                h3 {
                                    font-size: 18px;
                                }
                            }
                        }
                        .idk2 {
                            p {
                                width: 300px;
                            }
                            .justdiv1 {
                                margin-left: 20px;
                                img {
                                    width: 21px;
                                    height: 21px;
                                }
                                h3 {
                                    font-size: 18px;
                                }
                            }
                        }
                        .dontdiv {
                            p {
                                width: 300px;
                            }
                            .divclass {
                                margin-left: 20px;
                                img {
                                    width: 21px;
                                    height: 21px;
                                }
                                h3 {
                                    font-size: 18px;
                                }
                            }
                        }
                        .mtavari {
                            margin-bottom: 20px;
                            p {
                                width: 300px;
                            }
                            .arcise {
                                margin-left: 20px;
                                img {
                                    width: 21px;
                                    height: 21px;
                                }
                                h3 {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sec-4 {
        margin-left: 0px;
        .nonclass {
            margin-left: 50px;
        }
        .indep {
            margin-left: 35px;
            h2 {
                font-size: 22px;
                width: 400px;
                line-height: 21px;
            }
        }
        .demo {
            flex-wrap: wrap;
            .indemo {
                h2 {
                    top: 335rem;
                    left: 0.5rem;
                }
                p {
                    top: 343rem;
                    left: 3rem;
                }
                button {
                    top: 357rem;
                    left: 3rem;
                }
            }
            .nodiv {
                h2 {
                    top: 362rem;
                }
                p {
                    top: 373rem;
                    left: 1.5rem;
                }
                button {
                    top:386rem;
                    left: 3rem;
                }
            }
            .child {
                h2 {
                    left: 1rem;
                    top: 387rem;
                }
                p {
                    left: 2rem;
                    top: 397rem;
                }
                button {
                    left: 2rem;
                    top: 413rem;
                }
            }
        }
    }
    .sec-5 {
        .parentdiv {
            width:100%;
            .child1 {
                flex-direction: column;
                .nondiv {
                    padding: 0px;
                    h2 {
                        font-size: 19px;
                        width: 350px;
                        padding-left:1rem;
                    }
                    p {
                        width: 300px;
                        padding-left: 1rem;
                    }
                }
                .imgg-1 {
                    padding: 0px;
                    img {
                        padding-left: 20px;
                        width: 180px;
                        height: 180px;
                    }
                }
            }
            .child2 {
                padding-left:1rem;
                flex-direction: column;
                .cocu {
                    padding: 0px;
                    img {
                        width: 10px;
                        height: 10px;
                    }
                    p {
                        font-size: 11px;
                    }
                }
            }
            .class2 {
                flex-direction: column;
                padding: 0px;
                .class3 {
                    padding-left: 1rem;
                    img {
                        width: 10px;
                        height: 10px;
                    }
                    p {
                        font-size: 11px;
                    }
                }
            }
        }
        .whatdiv {
            margin: 0px;
            margin-top: 96px;
            img {
                object-fit: cover;
                width: 100%;
                height: 384px;
            }
            h2 {
                top: 473rem;
                left: 1rem;
                font-size: 16px;
                width: 350px;
            }
            button {
                top: 479rem;
                left: 0.3rem;
            }
            :nth-child(4) {
                top: 479rem;
                left: 14.6rem;
            }
        }
        .readnews {
            margin: 0px;
            margin-top: 96px;
            h2 {
                font-size: 19px;
                padding-left: 3rem;
            }
            .readournews1 {
                flex-direction: column;
                margin-left: 1rem;
                .containent {
                    padding-top: 20px;
                }
            }
        }
        .ournews {
            margin: 0px;
            margin-top: 96px;
            .cleanprog {
                padding-left: 2rem;
                h2 {
                    font-size: 18px;
                }
                img {
                    width: 100px;
                }
            }
            .boreddiv {
                flex-direction: column;
                .div21 {
                    width: 100%;
                    .news {
                        padding-top: 45px;
                        h2 {
                            font-size: 20px;
                        }
                    }
                    .tyydiv {
                        .nonediv {
                            h3 {
                                font-size: 17px;
                                width: 200px;
                            }
                            img {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }
                }
            }
        }
    } 
    footer {
        .footerdiv {
            padding: 0px;
            padding-top: 20px;
            .class4 {
                img {
                    width: 80px;
                    height: 32px;
                    margin-right: 0px;
                }
            }
            .divli1 {
                padding-left: 20px;
                ul {
                    li {
                        font-size: 9px;
                    }
                }
            }
            .maindiv1 {
                padding:0px;
                padding-left: 40px;
                position: absolute;
                top: 668rem;
                h2 {
                    font-size: 18px;
                }
                .maindiv2 {
                    flex-direction: column;
                    button {
                        width: 200px;
                    }
                }
            }
        }
    }
    .sec-1 {
        margin-left: 30px;
        .msobeldiv1 {
            flex-direction: column;
            h2 {
                font-size: 19px;
                width: 350px;
                margin-bottom: 32px;
            }
            .minichild {
                padding-left: 20px;
                p {
                    font-size: 18px;
                    width: 300px;
                }
                :nth-child(2) {
                    width: 250px;
                }
            }
        }
    }
    .section2 {
        margin-top: 160px;
        .transparent1 {
            .ourmission {
                flex-direction: column;
                img {
                    width: 100%;
                    height: 160px;
                    left: 0px;
                    top: 44.5em;
                }
                .whatwedo {
                    padding-left: 10px;
                    padding-top: 0px;
                    h3 {
                        font-size: 20px;
                    }
                    :nth-child(3) {
                        width: 350px;
                    }
                }
            }
            .nonidiv {
                padding-left:0px;
                padding-top: 0px;
                p {
                    padding-left: 10px;
                    margin-bottom: 20px;
                }
                .align {
                    padding: 0px;
                    margin-right: 0px;
                    display: flex;
                    flex-wrap: wrap;
                    img {
                        width: 110px;
                        height: 35px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .section3 {
        margin-left: 0px;
        .rewards {
            h2 {
                font-size: 20px;
            }
            .fleximg {
                flex-wrap: wrap;
                .fleximg1 {
                    padding-left: 0px;
                    padding-top: 20px;
                }
            }
        }
        .journey {
            margin-left: 0px;
            padding: 0px;
            width: 100%;
            flex-wrap: wrap;
            img {
                width: 100%;
                height: 300px;
            }
            .journey2 {
                padding-left: 20px;
                .ourgroup {
                    margin-bottom: 0px;
                    p {
                        font-size: 14px;
                        margin-bottom: 20px;
                    }
                    h2 {
                        font-size: 21px;
                    }
                    :nth-child(3) {
                        width: 300px;
                    }
                }
                .journeydiv {
                    .ourdiv1 {
                        padding-right: 18px;
                        h2 {
                            font-size: 21px;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .sec-4 {
        margin-left: 0px;
        .ourteam {
            margin-left: 0px;
            h2 {
                font-size: 25px;
            }
            p {
                margin-left: 0px;
                width: 350px;
                padding-left: 50px;
            }
        }
        .whatdiv {
            margin: 0px;
            margin-top: 96px;
            img {
                object-fit: cover;
                width: 100%;
                height: 384px;
            }
            h2 {
                top: 453rem;
                left: 1rem;
                font-size: 16px;
                width: 350px;
            }
            button {
                top: 460rem;
                left: 0.3rem;
            }
            :nth-child(4) {
                top: 460rem;
                left: 14.6rem;
            }
        }
        .readnews {
            margin: 0px;
            margin-top: 96px;
            h2 {
                font-size: 19px;
                padding-left: 3rem;
            }
            .readournews1 {
                flex-direction: column;
                margin-left: 1rem;
                .containent {
                    padding-top: 20px;
                }
            }
        }
        .ournews {
            margin: 0px;
            margin-top: 96px;
            .cleanprog {
                padding-left: 2rem;
                h2 {
                    font-size: 18px;
                }
                img {
                    width: 100px;
                }
            }
            .boreddiv {
                flex-direction: column;
                .div21 {
                    width: 100%;
                    .news {
                        padding-top: 45px;
                        h2 {
                            font-size: 20px;
                        }
                    }
                    .tyydiv {
                        .nonediv {
                            h3 {
                                font-size: 17px;
                                width: 200px;
                            }
                            img {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .footerdiv {
            padding: 0px;
            padding-top: 20px;
            .class4 {
                img {
                    width: 80px;
                    height: 32px;
                    margin-right: 0px;
                }
            }
            .divli1 {
                padding-left: 20px;
                ul {
                    li {
                        font-size: 9px;
                    }
                }
            }
            .maindiv3 {
                padding:0px;
                padding-left: 40px;
                position: absolute;
                top: 648rem;
                h2 {
                    font-size: 18px;
                }
                .maindiv4 {
                    flex-direction: column;
                    button {
                        width: 200px;
                    }
                }
            }
        }
    }
    .sec-6 {
        flex-wrap: wrap;
        margin-left: 0px;
        img {
            width: 100%;
        }
        .parentdiv1 {
            .shesavalidiv {
                padding-left: 30px;
            }
            .sashualodiv1 {
                padding-left: 29px;
                h1 {
                    font-size: 23px;
                }
                p {
                    width: 300px;
                }
            }
        }
    }
    .sec-7 {
        .parentdiv2 {
            width: 100%;
            height: 796px;
            h2 {
                padding-left: 10px;
                padding-top: 30px;
                font-size: 25px;
                margin-bottom: 30px;
            }
            .miniparent {
                flex-direction: column;
                padding: 0px;
                .div33 {
                    img {
                        width: 32px;
                        height: 32px;
                    }
                    .dividk1 {
                        padding: 5px;
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .sec-8 {
        margin-left: 0px;
        .vipdiv {
            margin-bottom: 20px;
            p {
                margin: 0px;
                padding: 0px;
                text-align: center;
                font-size: 14px;
                margin-bottom: 20px;
            }
            h2 {
                margin-left: 0px;
                text-align: left;
                font-size: 22px;
                padding-left: 8px;
            }
        }
        .vipdiv1 {
            flex-wrap: wrap;
            .vipgroup {
                h3 {
                    left: 3rem;
                    top: 120rem;
                }
                p {
                    left: 3rem;
                    top: 124rem;
                }
                :nth-child(4) {
                    left: 3rem;
                    top: 126.5rem;
                }
                :nth-child(5) {
                    left: 3rem;
                    top: 129rem;
                }
                :nth-child(6) {
                    left: 3rem;
                    top: 131.5rem;
                }
                :nth-child(7) {
                    left: 3rem;
                    top: 134rem;
                }
            }
            .vipgroup1 {
                h3 {
                    left: 5rem;
                    top: 147rem;
                }
                p {
                    left: 5rem;
                    top: 151rem;
                }
                :nth-child(4) {
                    left: 5rem;
                    top: 153.5rem;
                }
                :nth-child(5) {
                    left: 5rem;
                    top: 156rem;
                }
                :nth-child(6) {
                    left: 5rem;
                    top: 158.5rem;
                }
                :nth-child(7) {
                    left: 5rem;
                    top: 161rem;
                }
            }
            .vipgroup2 {
                h3 {
                    left: 6rem;
                    top: 174rem;
                }
                p {
                    left: 6rem;
                    top: 178rem;
                }
                :nth-child(4) {
                    left: 6rem;
                    top: 180.5rem;
                }
                :nth-child(5) {
                    left: 6rem;
                    top: 183.5rem;
                }
                :nth-child(6) {
                    left: 6rem;
                    top: 186.5rem;
                }
                :nth-child(7) {
                    left: 6rem;
                    top: 189.5rem;
                }
            }
        }
        .whatdiv {
            margin: 0px;
            margin-top: 96px;
            img {
                object-fit: cover;
                width: 100%;
                height: 384px;
            }
            h2 {
                top: 212rem;
                left: 1rem;
                font-size: 16px;
                width: 350px;
            }
            button {
                top: 216rem;
                left: 0.3rem;
            }
            :nth-child(4) {
                top: 216rem;
                left: 14.3rem;
            }
        }
        .readnews {
            margin: 0px;
            margin-top: 96px;
            h2 {
                font-size: 19px;
                padding-left: 3rem;
            }
            .readournews1 {
                flex-direction: column;
                margin-left: 1rem;
                .containent {
                    padding-top: 20px;
                }
            }
        }
        .ournews {
            margin: 0px;
            margin-top: 96px;
            .cleanprog {
                padding-left: 2rem;
                h2 {
                    font-size: 18px;
                }
                img {
                    width: 100px;
                }
            }
            .boreddiv {
                flex-direction: column;
                .div21 {
                    width: 100%;
                    .news {
                        padding-top: 45px;
                        h2 {
                            font-size: 20px;
                        }
                    }
                    .tyydiv {
                        .nonediv {
                            h3 {
                                font-size: 17px;
                                width: 200px;
                            }
                            img {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .footerdiv {
            padding: 0px;
            padding-top: 20px;
            .class4 {
                img {
                    width: 80px;
                    height: 32px;
                    margin-right: 0px;
                }
            }
            .divli1 {
                padding-left: 20px;
                ul {
                    li {
                        font-size: 9px;
                    }
                }
            }
            .maindiv5 {
                padding:0px;
                padding-left: 40px;
                position: absolute;
                top: 406rem;
                h2 {
                    font-size: 18px;
                }
                .maindiv6 {
                    flex-direction: column;
                    button {
                        width: 200px;
                    }
                }
            }
        }
    }
    .sec-9 {
        width: 100%;
        .div30 {
            flex-direction: column;
            .newscontent {
                padding-left: 0px;
                .newstab {
                    padding-left: 50px;
                }
                .newscont {
                    padding-left:20px;
                    h1 {
                        font-size: 20px;
                    }
                    p {
                        width: 350px;
                    }
                }
            }
            .newsdiv1 {
                width: 100%;
                .whatchnews {
                    flex-direction: column;
                    padding-left: 80px;
                    .pataradiv {
                        h3 {
                            font-size: 15px;
                            width: 200px;
                        }
                        p {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
    .sec-10 {
        margin-left: 0px;
        margin-top: 1200px;
        .recnetnews {
            padding-left: 40px;
            h2 {
                font-size: 20px;
                text-align: left;
            }
            p {
                margin-left: 0px;
                text-align: left;
                width: 300px;
            }
        }
        .readnews {
            margin: 0px;
            h2 {
                font-size: 19px;
                padding-left: 3rem;
            }
            .readournews1 {
                flex-direction: column;
                margin-left: 1rem;
                .containent {
                    padding-top: 20px;
                }
            }
        }
        .ournews {
            margin: 0px;
            margin-top: 96px;
            .cleanprog {
                padding-left: 2rem;
                h2 {
                    font-size: 18px;
                }
                img {
                    width: 100px;
                }
            }
            .boreddiv {
                flex-direction: column;
                .div21 {
                    width: 100%;
                    .news {
                        padding-top: 45px;
                        h2 {
                            font-size: 20px;
                        }
                    }
                    .tyydiv {
                        .nonediv {
                            h3 {
                                font-size: 17px;
                                width: 200px;
                            }
                            img {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .footerdiv {
            padding: 0px;
            padding-top: 20px;
            .class4 {
                img {
                    width: 80px;
                    height: 32px;
                    margin-right: 0px;
                }
            }
            .divli1 {
                padding-left: 20px;
                ul {
                    li {
                        font-size: 9px;
                    }
                }
            }
            .maindiv7 {
                padding:0px;
                padding-left: 40px;
                position: absolute;
                top: 298rem;
                h2 {
                    font-size: 18px;
                }
                .maindiv8 {
                    flex-direction: column;
                    button {
                        width: 200px;
                    }
                }
            }
        }
    }
    .sec-11 {
        width: 100%;
        .contact {
            padding-left: 0px;
            flex-direction: column;
            .idk24 {
                .contactus {
                    padding-left: 30px;
                }
                .letscontact {
                    margin-bottom: 10px;
                    padding: 0px;
                    h1 {
                        font-size: 20px;
                        width: 400px;
                    }
                    p {
                        width: 300px;
                        padding-left: 20px;
                    }
                }
            }
            .contac1 {
                padding-left: 20px;
                .contact2 {
                    margin-bottom: 6px;
                    h2 {
                        font-size: 20px;
                        margin-bottom: 0px;
                    }
                }
                .meil {
                    margin-bottom: 6px;
                    h2 {
                        font-size: 20px;
                        margin-bottom: 0px;
                    }
                }
                .meil1 {
                    margin-bottom: 6px;
                    h2 {
                        font-size: 20px;
                        margin-bottom: 0px;
                    }
                    p {
                        width: 400px;
                    }
                }
            }
        }
    }
    .sec-12 {
        margin-left: 0px;
        .logindiv {
            .logindiv1 {
                input {
                    width: 100%;
                }
            }
            .logindiv2 {
                input {
                    width: 100%;
                }
            }
            .textarea1 {
                textarea {
                    width: 100%;
                }
            }
            button {
                margin-left: 110px;
            }
            button:hover {
                background-color: #00BFFF;
            }
        }
    }
    .sec00 {
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .footer1 {
        .footerdiv1 {
            padding: 0px;
            padding-top: 20px;
            .class41 {
                img {
                    width: 80px;
                    height: 32px;
                    margin-right: 0px;
                }
            }
            .divli12 {
                padding-left: 20px;
                ul {
                    li {
                        font-size: 9px;
                    }
                }
            }
            .maindiv24 {
                padding:0px;
                padding-left: 40px;
                position: absolute;
                top: 133rem;
                h2 {
                    font-size: 18px;
                }
                .maindiv10 {
                    flex-direction: column;
                    button {
                        width: 200px;
                    }
                }
            }
        }
    }
}
